<div style="margin: 0 auto">
    <h2>Find.page</h2>
       <ul >
        
            <%for (var r=0;r<list.length;r++){%>
            <li><pre>name<%=(r+1)%>   :  <%=list[r].name%></pre></li>
            <%}%>
        </ul>  
</div>